# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
*.whl

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Environment variables
.env
*.env

# Miscellaneous
*.DS_Store
*.coverage
*.coverage.*
*.pytest_cache/

apiKey/
wav2vec2_checkpoint/


